/*FONTS
font-family: 'Lato', sans-serif;
*/

$base: #041D2E;
// $base: #08446D;
$black: rgba(0,0,0,1);
$white: rgba(255,255,255,1);


/*Break Points*/
$break-xs: "screen and (max-width: 767px)";
$break-sm: "screen and (min-width: 768px)";
$break-md: "screen and (min-width: 992px)";
$break-lg: "screen and (min-width: 1200px)";

// Type
// $sans: 'Lato', Helvetica, Arial, sans-serif;
$sans: "aktiv-grotesk", Helvetica, Arial, sans-serif;
// $serif: 'Alegreya', serif;
// $serif: "leitura-news", serif;
// $serif:  "Times New Roman", Times, serif;
$serif:  'Times New Roman', 'Arial', serif;

// Colors
@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}


body {
  margin:35px;
  // padding: 35px;
  background: #fff;
  font-family: $serif;
  font-size: 18px;
  line-height: 28px;
  color:$base;
  -webkit-overflow-scrolling: touch;
}

a {
  color:$base;
}

a:hover {
  text-decoration: underline;
  color:$base;
}

hr {
  margin:48px auto;
  width: 60%;
  border-bottom: 1px $base solid;
}

h1,h2,h3,h4,h5,h6{
  color:$base;
  a{
    color:$base;
  }
  a:hover{
    color:$base;
  }
}

h1 {
  font-weight: 900;
  font-size: 60px;
}

h2 {
  font-weight: 800;
  font-size: 48px;
}

h3 {
  font-weight: 700;
  font-size: 36px;
}

h4 {
  margin-top: 35px;
  font-weight: 800;
  font-size: 24px;
  font-family: $sans;
}

h5 {
  margin-top: 25px;
  font-weight: 700;
  font-size: 18px;
  font-family: $sans;
}

h6 {
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $sans;
}

section{
  padding:70px 0;
}

.container{
  max-width: 1120px;
}

#page{
  // http://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28\-45deg\%2C\%20rgba\%28255\%2C249\%2C207\%2C1\%29\%200\%25\%2C\%20rgba\%28247\%2C247\%2C247\%2C1\%29\%2012\%25\%2C\%20rgba\%28247\%2C247\%2C247\%2C1\%29\%20100\%25\%29\%3B\%20/*\%20FF3\.6+\%20*/'
  background: rgba(255,249,207,1);
  /* Old Browsers */background: -moz-linear-gradient(-45deg, rgba(255,249,207,1) 0%, rgba(247,247,247,1) 12%, rgba(247,247,247,1) 100%);
   /* FF3.6+ */background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,249,207,1)), color-stop(12%, rgba(247,247,247,1)), color-stop(100%, rgba(247,247,247,1)));
  /* Chrome, Safari4+ */background: -webkit-linear-gradient(-45deg, rgba(255,249,207,1) 0%, rgba(247,247,247,1) 12%, rgba(247,247,247,1) 100%);
   /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(-45deg, rgba(255,249,207,1) 0%, rgba(247,247,247,1) 12%, rgba(247,247,247,1) 100%);
   /* Opera 11.10+ */background: -ms-linear-gradient(-45deg, rgba(255,249,207,1) 0%, rgba(247,247,247,1) 12%, rgba(247,247,247,1) 100%);
   /* IE 10+ */background: linear-gradient(135deg, rgba(255,249,207,1) 0%, rgba(247,247,247,1) 12%, rgba(247,247,247,1) 100%);
  /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9cf', endColorstr='#f7f7f7', GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  
}
.home #page-overlay{
  width: 100%;
  height:1000px;
  position: absolute;
  background-image: url('../img/ac.png');
}


.highlight{
  background: yellow;
}


#main{
  // padding:30px 0 50px 0;
}


