/*Head*/
header{
  padding:20px 0;
}

.home header .container .row{
  height:540px;
  background: url('../img/ac-blue.png') no-repeat;
  background-position: right 30px top;
}

.wrap{
  border-bottom: 1px $base solid;
}
#hed{
  margin:50px 0 0 0;

  // logo
  h1{
    margin: 0;
    margin-left: -2px;
    font-weight: 300;
    font-size: 36px;
    font-family: $serif;
    line-height: 42px;
    a{
      text-decoration: none;
    }
  }

  h2{
    margin: 15px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 100;
    font-family: $sans;
    width:470px;
  }
}

#head.head-slim{
  padding: 20px 0 20px 0;
}

