/*NAVIGATION*/


#site-nav{
  margin: 42px 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  height:35px;
  @media #{$break-sm} {
  }

  li{
    display: inline-block;
    a{
      margin-right: 60px;
      padding: 0;
      color:$base;
    }
    a:hover{
      border-bottom: 2px solid $base;
      background: none;
    }
  }
  
}

#stream-nav .nav-wrap {
  padding-top: 25px;
  padding-bottom: 5px;
  border-top: 1px $base solid;
  font-family: $sans;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;

  @media #{$break-sm} {
    font-size: 18px;
    line-height: 21px;
  }
  ul{
    padding: 0;
    float: none;
  }
  li{
    margin-right: 15px;
    list-style-type: none;
    display: inline-block;
    @media #{$break-sm} {
      margin-right: 40px;
    }
  }
  a{
    padding: 3px 0;
    @media #{$break-sm} {
      padding: 5px 0;
    }
  }
  a:hover{
    padding: 5px 0 4px 0;
    background: none;
    border-bottom: 1px $base solid;
  }
  a:first-child {
    padding-left: 0;
  }
}

#stream-nav-bar{
  padding-bottom: 0;
  background: #E6E6E6;
  #stream-nav{
    margin-bottom: 0;
    ul{
      padding: 0 15px;
      @media #{$break-sm} {
        padding: 0;        
      }
    }
  }
}

#footer-nav{
  li{
    float: none;
    display: inline-block;
    font-weight: 500;
    a{
      padding:10px 15px;
    }
    a:hover{
      background: none;
      text-decoration: underline;
    }
  }
}