#press{
  margin-top: 0;
  padding: 0;
  h4{
    margin:0;
    font-weight: 500;
    padding: 25px 0;
    border-top: 1px $base solid;
  }
  .press-clip{
    margin: 45px 0;
    blockquote{
      margin: 0;
      padding:0;
      border:none;
      font-size: 21px;
      line-height: 28px;
      font-weight: 300;
      font-family: $sans;

      cite{
        width: 95%;
        text-align: right;
        display: block;
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
        font-style: italic;
      }
    }
  }
}