.hidden {
  display: none; }

.composer_block {
  margin-bottom: 10px; }
  .composer_block label,
  .composer_block input,
  .composer_block small {
    color: #051A3F; }
  .composer_block small {
    color: #999; }
  .composer_block input {
    width: 100%; }
  .composer_block input[type="radio"] {
    width: auto; }
  .composer_block textarea {
    width: 100%;
    height: 6em; }
  .composer_block .helper {
    margin: 0;
    padding: 0 3px;
    color: #3791FF;
    text-decoration: none; }
    .composer_block .helper small {
      color: #3791FF; }
  .composer_block .helper:focus {
    box-shadow: none; }
  .composer_block #source_url {
    margin-bottom: 10px; }
  .composer_block #link_out {
    width: 15px; }
  .composer_block .group {
    width: 48%;
    display: inline-block; }
  .composer_block .group:last-child {
    float: right; }
